body {
    background-image: url(/img/pattern.png);
    background-color: rgb(161, 162, 169);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; 
}
 
h1 { 
    margin: 2vw 0 0 0;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 7vw;
    font-style: italic;
    color: rgb(24, 45, 36);      
}

#course {
    text-align: center;
    font-weight: 700;
    font-size: 3vw;
    color: rgb(24, 45, 36);
    margin: 1.5vw 0 5vw 0;
}

#course a:visited, #link a:visited {
    color: rgb(82, 94, 118);
}

.navbar {
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 1.3vw;
}

ul li:hover {
    background-color: rgb(207, 208, 211);
}

ul li a {
    text-decoration: none;
    color: rgb(24, 45, 36);
    font-size: 1.6vw;
    font-style: italic;
    font-weight: 600;
}

.portrait img {
    height: 40vw;
    float: right;
    shape-outside: url(/img/portrait.png);
    shape-margin: 1.5vw; 
    margin-right: 6vw; 

    transform: scale(0);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.about-hero._active img { 
    transform: scale(1);
    opacity: 1;
    transition: all 0.8s ease 0.6s;
} 

.section p {
    font-size: 1.8vw;
    margin: 2vw 13vw 0 13vw;
    text-indent: 3vw;
}

.history {
    margin-bottom: 10vw;
}

.reference img { 
    padding: 0.2vw;
    background-color: white;
    position: relative;
}

.reference {
    margin-left: 10vw; 
}

.ref1 {
    top: -3vw;
    left: 4vw;
    z-index: 2;
    height: 17vw;      
}

.ref2 {
    top: -0.3vw;
    left: 0;
    z-index: 3;
    height: 17vw;
}

.ref3 {
    top: -7vw;
    right: 4vw;
    z-index: 2;
    height: 13vw;
}

.ref4 {
    top: -0.3vw;
    right: 9vw;
    z-index: 1;
    height: 14vw;
}

.ref5 {
    top: -3vw;
    right: 10.5vw;
    z-index: 2;
    height: 17vw;
}

.ref6 {
    top: -0.2vw;
    left: -12.5vw;
    z-index: 2;
    height: 14vw;
}

.ref7 {
    top: -3vw;
    left: -15vw;
    z-index: 1;
    height: 17vw;
}

.ref8 {
    top: -14vw;
    left: 62vw;
    z-index: 2;
    height: 13vw;
}

.ref1, .ref3, .ref5, .ref7 {
    transform: translate(0vw, -120%);
    opacity: 0;
    transition: all 0.8s ease 0.2s;
}

.ref2, .ref4, .ref6, .ref8 {
    transform: translate(0vw, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.2s;
}

.ref1._active,
.ref2._active {
    transition: all 0.8s ease 0.2s;
}

.ref3._active, 
.ref4._active {
    transition: all 0.8s ease 0.2s;
}

.ref5._active,
.ref6._active {
    transition: all 0.8s ease 0.4s;
}

.ref7._active,
.ref8._active {
    transition: all 0.8s ease 0.4s;
}

.reference._active img {
    transform: translate(0vw, 0vw);
    opacity: 1;
}

hr {
    background-color: rgb(24, 45, 36);
    width: 60vw;
    height: 0.3vw;
    margin: -1vw auto 8vw auto;
}

h2 {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 4vw;
    font-style: italic;
    color: rgb(24, 45, 36); 
    margin:2vw 0 0 0;  
}

.primary-scetches, .color-variations {
    background-image: url(/img/insert.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center, 10%;
    background-size: 80vw 110vw; 
}

.primary-scetches {
    margin-top: 1.5vw;
    margin-bottom: 6vw;
    text-align: center;
}

.primary-scetches img { 
    display: inline-block; 
    height: 42vw;
    margin: auto -3vw;

    opacity: 0;
    transform: scale(0);
}

.scetch1 {
    transition: all 2s ease 0s;
}

.scetch2 {
    transition: all 2s ease 0.6s;
}

.scetch3 {
    transition: all 1s ease 1.2s;
} 

.primary-scetches._active img {
    transform: scale(1);
    opacity: 1;
}

.color img {
    height: 49vw;
    margin: auto -2vw;
    z-index: 2;
}

.color {
    position: relative;
    margin-top: -2vw;
    text-align: center
}

.color1 {
    transform: translate(-100%, 0vw);
    opacity: 0;
    transition: all 0.8s ease 0.2s;
}

.color2 {
    transform: scale(0);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.color3 {
    transform: translate(100%, 0vw);
    opacity: 0;
    transition: all 0.8s ease 0.2s;
} 

.color1._active {
    transition: all 2s ease 0s;
}

.color2._active {
    transition: all 1s ease 0s;
}

.color3._active {
    transition: all 2s ease 0s;
}

.color._active img {
    transform: scale(1);
    opacity: 1;
    transform: translate(0vw, 0vw);
}

.palette img {
    height: 14vw;
    margin: auto -2vw;
    z-index: 1;

    opacity: 0;
    transform: scale(0);
    transition: all 0.8s ease 0s;
}

.palette._active img {
    transform: scale(1);
    opacity: 1;
}

.palette1 {
    position: absolute;
    top: 208vw;
    left: 31vw;
}

.palette2 {
    position: absolute;
    top: 208vw;
    left: 55.5vw;
}

.palette3 {
    position: absolute;
    top: 208vw;
    right: 19vw;
}

.emotions-r1 img, .emotions-r2 img {
    display: inline-block;
    height: 20vw;
    margin: 0.5vw 5vw;
}

.emotions-r1 img {
    transform: translate(-120%, 0vw);
    opacity: 0;
    transition: all 0.8s ease 0.2s;
}

.emotions-r2 img {
    transform: translate(120%, 0vw);
    opacity: 0;
    transition: all 0.8s ease 0.2s;
}

.emotions._active img:nth-child(1),
.emotions._active img:nth-child(4) {
    transition: all 1s ease 0s;
}

.emotions._active img:nth-child(2), 
.emotions._active img:nth-child(5) {
    transition: all 1s ease 0.2s;
}

.emotions._active img:nth-child(3),
.emotions._active img:nth-child(6) {
    transition: all 1s ease 0.4s;
}

.emotions._active img {
    transform: translate(0vw, 0vw);
    opacity: 1;
}

.emotions {
    margin-top: 1.5vw;
    background: url(/img/insert.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center, 10%;
    background-size: 80vw 100vw; 
    text-align: center;
}

h3 {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 4vw;
    font-style: italic;
    color: rgb(24, 45, 36);
    margin: 6vw auto -7vw auto;
}

.beards, .ornament, .flower, .wreth {
    display: inline-block;

    opacity: 0;
}

.beards {
    height: 15vw;
    margin: 0 3vw;

    transform: translate(-120vw, 0vw);
    transition: all 1s ease 0.4s;
}

.wreth {
    height: 8vw;
    margin: 10vw 0 10vw 3vw; 
    
    transform: translate(0vw, -120%);  
    transition: all 1s ease 0.4s;
}

.flower {
    height: 14vw;
    margin: auto 2vw auto -2vw;
    
    transform: translate(0vw, -120%);
    transition: all 1s ease 0.4s;
}

.ornament {
    height: 10vw;
    margin: 4vw;
    
    transform: translate(120vw, 0vw);
    transition: all 1s ease 0.4s;
}

.beards._active {
    transition: all 0.8s ease 0.8s;
}

.wreth._active {
    transition: all 0.8s ease 0.2s;
}

.flower._active {
    transition: all 0.8s ease 0.4s;
}

.ornament._active {
    transition: all 0.8s ease 0.6s;
}

.accessories._active img {
    transform: translate(0vw, 0vw);
    opacity: 1;
}

.accessories {
    text-align: center;
}

.model img {
    height: 42vw; 
    margin: 4vw;
}

.model {
    background: url(/img/insert.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center, 10%;
    background-size: 80vw 113vw; 
    text-align: center
}

h4 {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 5vw;
    font-style: italic;
    color: rgb(24, 45, 36); 
    margin: 2vw 0 -2vw 0;  
}

.final-art {
    height: 960px;
    background-image: url(/img/final-insert.png);
    background-repeat: no-repeat; 
    background-position: center 7.5vw;
    background-size: 38vw 64vw; 
    position: relative;
}

.final-art img {
    opacity: 0;
}

.branches {
    height: 65vw;
    position: absolute;
    top: 9vw;
    left: 50%;

    transform: translateY(100%);
    z-index: 1; 
    transition: all 2s ease 1.6s; 
}

.rhombus {
    height: 44vw;
    position: absolute;
    top: 4vw;
    left: 50%;

    transform: translateX(100%);
    z-index: 2; 
    transition: all 2s ease 0.8s;
}

.mavka {
    height: 78vw;
    position: absolute;
    top: 9vw;
    left: 50%;
    
    transform: translateX(-100%);
    z-index: 3; 
    transition: all 2s ease 0.2s;
}

.beards._active {
    transition: all 2s ease 1.6s;
}

.rhombus._active {
    transition: all 2s ease 0.8s;
}

.mavka._active {
    transition: all 2s ease 0.2s;
}

.final-art._active img {
    transform: translateX(-50%);
    opacity: 1;
}